body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

#contenedor-imagen {
    max-width: 90%; /* Reduzco el tamaño de la imagen al 80% del contenedor */
    border-radius: 50%;
}

#contedor-imagenpresentacion {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "imagen h1 h1"
                         "imagen h5 h5"
                         "imagen p  p";
    column-gap: 20px;                    
}

#contenedor-imagen {
    grid-area: imagen;
    grid-column: 1; /* Coloca en la primera columna */
    padding: 20px 0 20px 20px;
    margin: 0;
}

#contenedor-presentacion {
    grid-area: p;
    grid-column: 2; /* Coloca en la segunda columna */
    padding: 0; /* Reduzco el espacio entre el texto y el contenedor */
    margin: 0 0 70px 0;
}

#nombre {
    grid-area: h1;
    grid-column: 2;
    font-size: 2.5em;
    padding: 30px 0 0 0;
    margin: 50px 0 0 0;
}

#desarrollador {
    grid-area: h5;
    grid-column: 2;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}




#contenedor-conocimientos h5, #contenedor-cursos h5 {
    font-size: 1em; /* Ajusta el tamaño del h5 según tus preferencias */
    margin-top: 0.5em; /* Ajusta el margen superior del h5 según tus preferencias */
}

#contenedor-conocimientos ul,#contenedor-cursos ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#contenedor-conocimientos li {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    align-items: center;
    margin-bottom: 1em; /* Ajusta el margen inferior entre elementos según tus preferencias */
    margin-right: 5em;
}

#contenedor-conocimientos li img {
    max-width: 100px;
    margin-bottom: 0.5em;
    
}

#contenedor-cursos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Agrega esta línea para centrar el texto */
    margin-bottom: 1em;
    margin-right: 5em;
}

#contenedor-cursos li img {
    max-width: 50%;
    margin-bottom: 0.5em;
}

#contenedor-cursos li a:hover h5 {
    color: inherit; /* Hereda el color del texto del contenedor padre (no cambia el color) */
}


#contenedor-conocimientos li h5,#contenedor-cursos li h5 {
    font-size: 1em; /* Ajusta el tamaño del h5 según tus preferencias */
    margin-top: 0.5em; /* Ajusta el margen superior del h5 según tus preferencias */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    /* Otros estilos existentes */
    header {
        font-size: 18px;
    }

    #contedor-imagenpresentacion {
        grid-template-areas: 
            "imagen nombre"
            "imagen desarrollador"
            "p p";
        grid-template-columns: 50% 50%;
        align-items: center;
        text-align: center;
    }

    #contenedor-imagen {
        max-width: 90%;
        height: auto;
        border-radius: 50%;
        grid-area: imagen;
    }

    #nombre {
        padding: 0;
        text-align: left;
        grid-area: nombre;
        font-size: 30px;
    }
    
    #desarrollador {
        padding: 0;
        margin: 0 0 50px 0;
        font-size: 15px;
        text-align: left;
        grid-area: desarrollador;
    }

    #contenedor-presentacion {
        text-align: left;
        grid-area: p;
    }

    #contenedor-conocimientos,
    #contenedor-cursos {
        width: 100%;
    }

    #contenedor-conocimientos li,
    #contenedor-cursos li {
        margin-right: 0;
        margin-bottom: 1em;
    }

    #contenedor-conocimientos li img,
    #contenedor-cursos li img {
        max-width: 50%;
        margin-bottom: 0.5em;
    }

    /* Otros ajustes necesarios */
}
